<phpunit bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">includes</directory>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
